body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.sticky-note {
  width: 150px;
  height: 100px;
  background-color: #f39c12;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  position: absolute;
  border-radius: 8px;
  user-select: none;
  padding: 10px;
  font-size: 14px;
}
